#institute_degree{
    color:black;
    font-size: 1.5rem;
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
}
#institute_duration{
    color:rgb(37, 36, 36);
    font-size: 1.32rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
#institute_name{
    color:rgb(37, 36, 36);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 602px){
    #institute_degree{
        font-size:15px;
    }
    #institute_duration{
        font-size: 12px;
    }
    #institute_name{
        font-size: 10px;
    }
    

}